<!DOCTYPE html>
<html lang="ru">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>gulp-scss-starter</title>
  <meta name="theme-color" content="#fff">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
  <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
  <!-- Шрифты -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@100;400;700&display=Roboto:ital@1&display=swap" rel="stylesheet"> <!-- Шрифты -->
 <link rel="stylesheet" href="styles/main.css">

<script src="https://kit.fontawesome.com/6b422ece2f.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=swap" rel="stylesheet"> 

<!-- слайдеры                      -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick-theme.css"/>
<!-- слайдеры                      -->



</head>
<body>
<!-- page-main -->
<div class="page-main">

  <div class="blok blok-1"> <!--  blok 1 -->
  <!-- "wrap" обёртка blok-buke -->
  <div class="wrap">
      <!-- class="blok-buke"> -->
            <!-- header -->
            <header>       
            <!-- <?php include ("header.php")?> -->

            <div class="heder"><!-- class="heder -->
                
              <a class="heder__logo" href=""></a>
              <!-- class="heder-list" -->
              <ul class="heder-list"> 
              <li class="heder-list__item aktiv"> <a href="" class="heder-list__lnk" >Home</a></li>
              <li class="heder-list__item"><a href="" class="heder-list__lnk" >About</a></li>
              <li class="heder-list__item"><a href="" class="heder-list__lnk" >Contents</a> </li>
              <li class="heder-list__item"><a href="" class="heder-list__lnk" >Books</a></li>
              <li class="heder-list__item"><a href="" class="heder-list__lnk" >Education</a></li>
              <li class="heder-list__item"><a href="" class="heder-list__lnk" >Skills</a></li>
              <li class="heder-list__item"><a href="" class="heder-list__lnk" >Portfolio</a></li>
              <li class="heder-list__item"><a href="" class="heder-list__lnk" >Clients</a></li>
              <li class="heder-list__item"sx><a href="" class="heder-list__lnk" >Contact</a></li>
              </ul> <!--  class="heder-list" -->
          </div><!-- class="heder -->
            </header>
          
            <!-- header -->
      
    <div class="blok-buke_1"> <!-- blok-buke -->

      <div class="blok-buke_1__presn"> <!--картинк книги -->
        <h2 class="blok-buke_1__presn__ttl">Good book
        <span>Don’t judge a book by its cover</span>
      </h2>
        <p class="blok-buke_1__presn__autr">- By Emma Anderson</p>
      
      </div> <!--картинк книги -->

      <div class="blok-text">
          <p class="blok-text__autr">- By Emma Anderson</p>
          <h1 class="blok-text__titl">BUKEE: THE BOOK 
          <span>A room without books is like a body without a soul</span> </h1>

          <p class="blok-text__spm"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

          <p class="blok-text__spm">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut </p>

          <a class="blok-text__btn" href="#">Buy this book - $15.00   </a>

          <small class="blok-text__comnt">* Some conditions may applicable </small> <!-- описание -->
      </div>

      </div>  <!-- class="blok-buke"> -->
    </div> <!-- "wrap" обёртка blok-buke1 -->
  </div> <!--  blok 1 -->
  <!-- class="blok-1"> -->


  <!-- blok2 -->
  <div class="base blok2">
   <!-- !wrap 2 __Обёртка основная -->
  
  <div class="wrap">  <!-- !wrap 2 __Обёртка основная -->
    
    <div class="blok-Emma2"> <!-- EMMA2 -->

          <div class="blok-text">
              <p class="b2autr">- Book Author</p>
              <h1 class="blok-text__titl">Emma Anderson 
               <span>A room without books is like a body without a soul</span> </h1>

               <p class="blok-text__spm"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              </p>

               <p class="blok-text__spm">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut </p>

               
            <a class="blok-text__btn blok-text__btn_b2" href="#">Read full biography</a>

          </div>
     

          <div class="blok2-ava">

            <svg class="blok2-ava__svg" width="435" height="558">
              <linearGradient id="grad" gradientUnits="userSpaceOnUse" x1="435.2972" y1="557.7678" x2="-0.2972" y2="0.2322">
                <stop  offset="0" style="stop-color:#59c2ae"/>
                <stop  offset="1" style="stop-color:#446a87"/>
              </linearGradient>

              <rect width="435" height="558" x="0" y="0" fill="url(#grad)"  ></rect>
            </svg>

            <img class="blok2-ava__jpg"  src="../img/AVATAR.jpg" alt="">
          </div>
        
        </div>  <!-- class="EMMA 2"> -->  


          <div class="block-counter">
             <p><span>12</span>Total published books</p>
             <p><span>5</span>Happy readers</p>
             <p><span>15,000</span>Happy readers</p>
          </div>
 
        </div>  <!-- blok2 -->
    </div> <!-- wrap"2" -->

         
    <div class="base blok-Content3"> <!-- blok-Contents3 -->
      <div class="wrap"> <!-- wrap"3" -->
              <h2 class="blok-Content3__titl">Book Contents </h2>
              <p class="blok-Content3__subtitl" > Let’s see what we have covered in the book</p>

              <div class="blok-Content3-body"><!-- blok-Contents3__ОБЁРТКА -->

                <div class="blok-Content3-body__text">

                   <h3 class="blok-Content3__3titl">About the book </h3>
                   <p class="blok-Content3-body__text__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur. </p>

                   <div class="blok-Content3-body__footr">
                      <p> Featured in: </p>
                      
                      <ul class="blok-Content3-body__footr__list">
                        <li><a href=""><i class="fab fa-sass"></i></a> </li>
                        <li><a href=""><i class="fab fa-amazon"></i> </a> </li>
                        <li><a href=""><i class="fab fa-stack-overflow"></i></a> </li>
                      

                      </ul>
                    
                    </div>

                </div><!-- blok-Content3__text__ОБЁРТКА левая -->

                <div class="blok-Content3-body__table">
                    <h3 class="blok-Content3-body__table__titl3">Table of contents </h3>

                    <ol class="blok-Content3-body__table__list">       <!-- добавление тегов в класс лист -->
                      <li>Lorem ipsum dolor sit amet</li>   <!-- добавление тегов в класс лист -->
                      <li>Consectetur adipisicing elit</li>
                      <li>Labore et dolore magna</li>
                      <li>Consectetur adipisicing elit</li>

                      <li>Labore et dolore magna</li>
                      <li>Lorem ipsum dolor sit amet</li>
                      <li>Consectetur adipisicing elit</li>
                      <li>Labore et dolore magna</li>

                      <li>Consectetur adipisicing elit</li>
                      <li>Labore et dolore magna</li>
                    </ol>

                      <button class="blok-Content3-body__table__btn">More</button>

                </div>  <!--              blok-Content3__Table-->
      
           </div> <!-- !blok-Contents3__Обёртка -->
          </div><!-- wrap"3" -->
     </div><!-- blok3" -->
    <!-- blok4" -->
    @@include("../blocks/modules/header/blk4other.html")
    <!-- @@include('./view.html') пример синтаксиса -->
    <!-- Чтобы вручную не создавать соответствующие папку и файлы, достаточно в консоли прописать команду bem create my-block — для создания папки БЭМ-блока, где my-block — имя БЭМ-блока -->
    <!-- blok4" -->
    <!-- blok5" -->
  
    
    @@include("../blocks/modules/blk5/blk5.html")

    <!-- blok6" -->
    @@include("../blocks/modules/header/blk6.html")
    <!-- blok6" -->
    <!-- blok7" -->
    @@include("../blocks/modules/header/blk7.html")
    <!-- blok7" -->


</div>     <!-- page-main -->
<!-- page-main -->

  @@include("../blocks/modules/header/header.html")
  <!-- footer -->
  @@include("../blocks/modules/footer/footer.html")
  <!-- footer -->
  <script src="js/main.js"></script>
  <script src="js/vendor.js"></script>


<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- jquery -->

 <!-- слайдеры скрипт               -->
 <script>
$(document).ready(function(){
  $('.blk5-slaider').slick({
    dots: true,
    arrows: false, 
  });
});
</script>
<!-- слайдеры скрипт               -->


  <!-- слайдеры                      -->

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <!-- слайдеры                      - ->

</body>
</html>
